<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>About Us</title>
<meta name="description" content="description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Favicon -->
<link rel="shortcut icon" href="../../static/userResources/image/favicon.png" />
<!-- Plugins CSS -->
<link rel="stylesheet" href="../../static/userResources/css/plugins.css">
<!-- Main Style CSS -->
<link rel="stylesheet" href="../../static/userResources/css/style.css">
<link rel="stylesheet" href="../../static/userResources/css/responsive.css">
</head>
<body class="about-style about-style-2">
<div id="pre-loader">
    <img src="../../static/userResources/image/loader.gif" alt="Loading..." />
</div>
<div class="page-wrapper">
    <!--Promotion Bar-->

    <!--End Promotion Bar-->

    <!--Header-->
    {% include 'user/header.html' %}
    <!--End Header-->
    <!--Mobile Menu-->

	<!--End Mobile Menu-->
    
    <div id="page-content">        
        <!--Body Container-->
        <!--Breadcrumbs-->
        <div class="breadcrumbs-wrapper">
        	<div class="container">
            	<div class="breadcrumbs"><a href="index.html" title="Back to the home page">Home</a> <span aria-hidden="true">|</span> <span>About Us</span></div>
            </div>
        </div>
        <!--End Breadcrumbs-->
        <div class="container">
        	<div class="page-title"><h1>About Us Style2</h1></div>
			<div class="top-text-block">
            	<p class="mb-4">Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        	<div class="row">
            	<div class="col-12 text-center mt-3 mb-3">
                	<img src="assets/images/about-img.jpg" alt=""/>
                </div>
            </div>
            <div class="row mt-3">
            	<div class="col-4 col-sm-3 col-md-3 col-lg-3 text-center">
                	<h3><b>Why We</b></h3>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                	<p>Avone comes with easy-to-use interface and outstanding support. You can implement your own design. You can easily change the store's appearance as per your requirements using our ready sections and options available.You can implement your own design. You can easily change the store's appearance as per your requirements using our ready sections and options available.</p>
                </div>
            </div>
            <div class="row mt-4">
            	<div class="col-4 col-sm-3 col-md-3 col-lg-3 text-center">
                	<h3><b>Our Vision</b></h3>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                	<p>Vestibulum ultricies aliquam convallis. Maecenas ut tellus mi. Proin tincidunt, lectus eu volutpat mattis, ante metus lacinia tellus, vitae condimentum nulla enim bibendum nibh. Praesent turpis risus, interdum nec venenatis id, pretium sit amet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                </div>
            </div>
            <div class="row mt-4">
            	<div class="col-4 col-sm-3 col-md-3 col-lg-3 text-center">
                	<h3><b>Our Mission</b></h3>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                	<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum. sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row mt-4">
            	<div class="col-4 col-sm-3 col-md-3 col-lg-3 text-center">
                	<h3><b>Contact Us</b></h3>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                	<p><strong>55 Gallaxy Enque,</strong><br>2568 steet, 23568 NY</p>
                    <p><strong>Phone</strong> : (440) 000 000 0000 <br><strong>Email</strong>: <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6d1e0c01081e2d1402181e041908430e0200">[email&#160;protected]</a></p>
                </div>
            </div>
            <div class="row mt-4">
            	<div class="col-4 col-sm-3 col-md-3 col-lg-3 text-center">
                	<h3><b>Out Team</b></h3>
                </div>
                <div class="col-8 col-sm-8 col-md-8 col-lg-8">
                	<div class="row">
                    	<div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        	<img src="assets/images/about-team1.jpg" alt=""/>
                            <div class="team-bio">
                                <p><strong>Stive Smith</strong></p>
                                <p>Founder &amp; CEO</p>
                            </div>
                            <div class="social-url">
                            	<a href="#"><i class="anm anm-facebook-f"></i></a>
								<a href="#"><i class="anm anm-pinterest-p"></i></a>
								<a href="#"><i class="anm anm-twitter "></i></a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        	<img src="assets/images/about-team2.jpg" alt=""/>
                            <div class="team-bio">
                                <p><strong>Caralina Joli</strong></p>
                                <p>Creative Director</p>
                            </div>
                            <div class="social-url">
                            	<a href="#"><i class="anm anm-facebook-f"></i></a>
								<a href="#"><i class="anm anm-pinterest-p"></i></a>
								<a href="#"><i class="anm anm-twitter "></i></a>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                        	<img src="assets/images/about-team3.jpg" alt=""/>
                            <div class="team-bio">
                                <p><strong>Stive Smith</strong></p>
                                <p>Sales Director</p>
                            </div>
                            <div class="social-url">
                            	<a href="#"><i class="anm anm-facebook-f"></i></a>
								<a href="#"><i class="anm anm-pinterest-p"></i></a>
								<a href="#"><i class="anm anm-twitter "></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End Body Container-->
    </div><!--End Page Wrapper-->
    
    <!--Footer-->
    {% include 'user/footer.html' %}
    <!--End Footer-->
    
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-arw-up"></i></span>
    <!--End Scoll Top-->
    
    <!--MiniCart Drawer-->
    <div class="minicart-right-drawer modal right fade" id="minicart-drawer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="cart-drawer" class="block block-cart">
                    <a href="javascript:void(0);" class="close-cart" data-dismiss="modal" aria-label="Close"><i class="anm anm-times-r"></i></a>
                    <h4>Your cart (2 Items)</h4>
                    <div class="minicart-content">
                        <ul class="clearfix">
                            <li class="item clearfix">
                                <a class="product-image" href="#">
                                    <img src="assets/images/product-images/cart-page-img2.jpg" alt="" title="">
                                </a>
                                <div class="product-details">
                                    <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                    <a href="#" class="edit-i remove"><i class="icon icon-pencil" aria-hidden="true"></i></a>
                                    <a class="product-title" href="cart-style1.html">Backpack With Contrast Bow</a>
                                    <div class="variant-cart">Black / XL</div>
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="anm anm-minus-r" aria-hidden="true"></i></a>
                                            <input type="text"  name="quantity" value="1" class="qty">
                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="anm anm-plus-r" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="priceRow">
                                        <div class="product-price">
                                            <span class="money">$59.00</span>
                                        </div>
                                     </div>
                                </div>
                            </li>
                            <li class="item clearfix">
                                <a class="product-image" href="#">
                                    <img src="assets/images/product-images/cart-page-img1.jpg" alt="" title="">
                                </a>
                                <div class="product-details">
                                    <a href="#" class="remove"><i class="anm anm-times-sql" aria-hidden="true"></i></a>
                                    <a href="#" class="edit-i remove"><i class="icon icon-pencil" aria-hidden="true"></i></a>
                                    <a class="product-title" href="cart-style1.html">Innerbloom Puffer</a>
                                    <div class="variant-cart">Red / S</div>
                                    <div class="wrapQtyBtn">
                                        <div class="qtyField">
                                            <a class="qtyBtn minus" href="javascript:void(0);"><i class="anm anm-minus-r" aria-hidden="true"></i></a>
                                            <input type="text"  name="quantity" value="1" class="qty">
                                            <a class="qtyBtn plus" href="javascript:void(0);"><i class="anm anm-plus-r" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="priceRow">
                                        <div class="product-price">
                                            <span class="money">$89.00</span>
                                        </div>
                                     </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="minicart-bottom">
                        <div class="subtotal list">
                            <span>Shipping:</span>
                            <span class="product-price">$10.00</span>
                        </div>
                        <div class="subtotal list">
                            <span>Tax:</span>
                            <span class="product-price">$05.00</span>
                        </div>
                        <div class="subtotal">
                            <span>Total:</span>
                            <span class="product-price">$93.13</span>
                        </div>
                        <button type="button" class="btn proceed-to-checkout">Proceed to Checkout</button>
                        <button type="button" class="btn btn-secondary cart-btn">View Cart</button>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
    <!--End MiniCart Drawer-->
    
     <!-- Including Jquery -->
     <script data-cfasync="false" src="../../static/userResources/js/email-decode.min.js"></script><script src="../../static/userResources/js/jquery-3.3.1.min.js"></script>
     <script src="../../static/userResources/js/js.cookie.js"></script>
     <!-- Including Javascript -->
     <script src="../../static/userResources/js/plugins.js"></script>
     <script src="../../static/userResources/js/main.js"></script>
     
</div>
</body>
</html>