<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comment</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/userResources/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/userResources/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/userResources/image/favicon-16x16.png">
    <link rel="manifest" href="../../static/userResources/image/site.webmanifest">
    <link rel="mask-icon" href="../../static/userResources/image/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="../../static/userResources/image/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="../../static/userResources/image/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/userResources/css/owl.carousel.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../../static/userResources/css/style.css">
</head>

<body>
{% include 'user/header.html' %}
<div class="page-wrapper">
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fullwidth</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">

            <div class="container">

                <div class="reply">
                    <div class="heading">
                        <h3 class="title">Leave A Reply</h3><!-- End .title -->
                        <p class="title-desc">Your email address will not be published. Required fields are marked *</p>
                    </div><!-- End .heading -->

                    <form action="/user/insert_complain" , method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="reply-name" class="sr-only">Subject</label>
                                <input type="text" class="form-control" id="reply-name" name="userComplainType" required
                                       placeholder="Subject *">
                            </div><!-- End .col-md-6 -->
                        </div>

                        <label for="reply-message" class="sr-only">Comment</label>
                        <textarea name="userComplainDescription" id="reply-message" cols="30" rows="4"
                                  class="form-control" required placeholder="Comment *"></textarea>


                        <button type="submit" class="btn btn-outline-primary-2">
                            <span>POST COMMENT</span>
                            <i class="icon-long-arrow-right"></i>
                        </button>
                    </form>
                </div><!-- End .reply -->
                <article class="entry single-entry entry-fullwidth">
                    <div class="entry-author-details">
                        <!-- End .author-media -->

                        {% if complain_vo_updated_list %}

                            <div class="author-body">
                                <h3><b>Past Comments</b></h3>
                                {% for complain_vo_data in complain_vo_updated_list %}

                                    <div class="author-header row no-gutters flex-column flex-md-row">
                                        <div class="col">
                                            <h4><b>{{ complain_vo_data[0]['login_username'] }}</b></h4>
                                        </div>
                                    </div>

                                    <div class="author-content">
                                        <p>Subject: {{ complain_vo_data[1]['complain_subject'] }}</p>
                                        <p>{{ complain_vo_data[1]['complain_description'] }}</p>
                                    </div>

                                    {% if complain_vo_data[1]['complain_status']=="Replied" %}
                                    <div class="author-header row no-gutters flex-column flex-md-row" style="text-align: right">
                                        <div class="col">
                                            <h4><b>Admin</b></h4>
                                        </div>
                                    </div>

                                    <div class="author-content" style="text-align: right">
                                        <p>Subject: {{ complain_vo_data[1]['complain_subject'] }}</p>
                                        <p>{{ complain_vo_data[1]['complain_reply_description'] }}</p>
                                    </div>
                                    {% endif %}
                                {% endfor %}

                            </div><!-- End .author-body -->
                        {% endif %}
                    </div><!-- End .entry-author-details-->
                </article><!-- End .entry -->

                <div class="comments">
                    <h3 class="title">0 Comment</h3><!-- End .title -->
                </div><!-- End .comments -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->

    </main><!-- End .main -->
    {% include 'user/footer.html' %}

</div><!-- End .page-wrapper -->

<!-- Plugins JS File -->
<script src="../../static/userResources/js/jquery.min.js"></script>
<script src="../../static/userResources/js/bootstrap.bundle.min.js"></script>
<script src="../../static/userResources/js/jquery.hoverIntent.min.js"></script>
<script src="../../static/userResources/js/jquery.waypoints.min.js"></script>
<script src="../../static/userResources/js/superfish.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<script src="../../static/userResources/js/jquery.sticky-kit.min.js"></script>
<!-- Main JS File -->
<script src="../../static/userResources/js/main.js"></script>
</body>

</html>