<div class="footer footer-1">
        	<div class="footer-top clearfix">
        		<div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 about-us-col">
                            <img src="../../static/userResources/image/logo.svg" alt="Avone"/>
                            <p>55 Gallaxy Enque,<br>2568 steet, 23568 NY</p>
                            <p><b>Phone</b>: 9876543210</p>
                            <p><b>Email</b>: <a href="/cdn-cgi/l/email-protection#4e3d2f222b3d0e37213b3d273a2b602d2123"><span class="__cf_email__" data-cfemail="7c0f1d10190f3c0513090f150819521f1311">xyz@gmail.com</span></a></p>
                            <ul class="list--inline social-icons">
                                <li><a href="#" target="_blank"><i class="icon icon-facebook"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-pinterest"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="icon icon-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                            <h4 class="h4">Quick Shop</h4>
                            <ul>
                                <li><a href="#">Women</a></li>
                                <li><a href="#">Men</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Sportswear</a></li>
                                <li><a href="#">Sale</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                            <h4 class="h4">Informations</h4>
                            <ul>
                                <li><a href="aboutus-style1.html">About us</a></li>
                                <li><a href="userLogin.html">Login</a></li>
                                <li><a href="privacy-policy.html">Privacy policy</a></li>
                                <li><a href="#">Terms &amp; condition</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links">
                            <h4 class="h4">Customer Services</h4>
                            <ul>
                                <li><a href="#">Request Personal Data</a></li>
                                <li><a href="faqs-style1.html">FAQ's</a></li>
                                <li><a href="contact-style1.html">Contact Us</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Support Center</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-3 newsletter-col">
                            <div class="display-table">
                                <div class="display-table-cell footer-newsletter">
                                    <form action="#" method="post">
                                        <label class="h4">Newsletter</label>
                                        <p>Enter your email to receive daily news and get 20% off coupon for all items.</p>
                                        <div class="input-group">
                                            <input type="email" class="input-group__field newsletter-input" name="EMAIL" value="" placeholder="Email address" required>
                                            <span class="input-group__btn">
                                                <button type="submit" class="btn newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">Subscribe</span></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
            </div>
            <div class="footer-bottom clearfix">

            </div>
		</div>