<header class="header">

    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/user" class="logo">
                    <img src="../../static/userResources/image/logo1.png" alt="Molla Logo" width="50" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li>
                            <a href="/user">Home</a>
                        </li>
                        <li>
                            <a href="/user/category-4cols">Shop</a>

                        </li>
                        <li>
                            <a href="/user/category-4cols">Men</a>
                        </li>
                        <li>
                            <a href="/user/category-4cols">Women</a>
                        </li>

                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="#">Links</a>
                        <ul>
                            <li><a href="/user/about">About Us</a></li>
                            <li><a href="/user/contact">Contact Us</a></li>

                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
            <div class="dropdown cart-dropdown">
                <a href="#" class="dropdown-toggle" role="button"
                   data-display="static">
                    <i class="icon-user"></i>
                    <div class="dropdown-menu dropdown-menu-right pullDown">
                        <a href="#" class="dropdown-item has-icon text-danger"> <i class="icon-user"></i> Profile </a>
                        <a href="/user/view_complain" class="dropdown-item has-icon text-danger"> <i class="icon-comments"></i> Comments </a>
                        <a href="/user/load_feedback" class="dropdown-item has-icon text-danger"> <i class="icon-star"></i> Feedback </a>
                        <a href="/admin/logout_session" class="dropdown-item has-icon text-danger"> <i
                                class="icon-arrow-left"></i>
                            Logout
                        </a>
                    </div>
                </a>
            </div>
            <div class="dropdown cart-dropdown">
                <a href="/user/load_cart" class="dropdown-toggle" role="button"
                   data-display="static">
                    <i class="icon-shopping-cart"></i>
                </a>
            </div>
            <!-- End .cart-dropdown -->
        </div><!-- End .header-right -->
    </div><!-- End .container -->
</header><!-- End .header -->