 <header class="header animated d-flex align-items-center header-1">
	    <div class="container">
            <div class="row">
            	<!--Mobile Icons-->
            	<div class="col-4 col-sm-4 col-md-4 d-block d-lg-none mobile-icons">
                    <!--Mobile Toggle-->
                    <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open">
                        <i class="icon anm anm-times-l"></i>
                        <i class="anm anm-bars-r"></i>
                    </button>
                    <!--End Mobile Toggle-->
                    <!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <!--End Search-->
                </div>
                <!--Mobile Icons-->
                <!--Desktop Logo-->
                <div class="logo col-4 col-sm-4 col-md-4 col-lg-2 align-self-center">
                    <a href="index.html">
                        <img src="../../static/userResources/image/logo.svg" alt="Avone Multipurpose Html Template" title="Avone Multipurpose Html Template" />
                    </a>
                </div>
                <!--End Desktop Logo-->
                <div class="col-1 col-sm-1 col-md-1 col-lg-8 align-self-center d-menu-col">
                    <!--Desktop Menu-->
                    <nav class="grid__item" id="AccessibleNav">
                        <ul id="siteNav" class="site-nav medium center hidearrow">
                            <li class="lvl1 parent megamenu mdropdown"><a href="#;">HOME <i class="anm anm-angle-down-l"></i></a>
                                <div class="megamenu style1">
                                    <ul class="grid mmWrapper">
                                        <li class="grid__item large-up--one-whole">
                                            <ul class="grid">
                                                <li class="grid__item lvl-1 col-md-4 col-lg-4">
                                                	<a href="#" class="site-nav lvl-1 menu-title">Home</a>
                                                    <ul class="subLinks">
                                                      <li class="lvl-2"><a href="index.html" class="site-nav lvl-2">Home 01 <span class="lbl nm_label3">Popular</span></a></li>
                                                      <li class="lvl-2"><a href="index-demo2.html" class="site-nav lvl-2">Home 02 <span class="lbl nm_label3">Popular</span></a></li>
                                                      <li class="lvl-2"><a href="index-demo3.html" class="site-nav lvl-2">Home 03</a></li>
                                                      <li class="lvl-2"><a href="index-demo4.html" class="site-nav lvl-2">Home 04</a></li>
                                                      <li class="lvl-2"><a href="index-demo5.html" class="site-nav lvl-2">Home 05</a></li>
                                                      <li class="lvl-2"><a href="index-demo6.html" class="site-nav lvl-2">Home 06</a></li>
                                                      <li class="lvl-2"><a href="index-demo7.html" class="site-nav lvl-2">Home 07</a></li>
                                                      <li class="lvl-2"><a href="index-demo8.html" class="site-nav lvl-2">Home 08</a></li>
                                                      <li class="lvl-2"><a href="index-demo9.html" class="site-nav lvl-2">Home 09</a></li>
                                                    </ul>
                                                  </li>
                                                <li class="grid__item lvl-1 col-md-4 col-lg-4">
                                                	<a href="#" class="site-nav lvl-1 menu-title">Homepages</a>
                                                    <ul class="subLinks">
                                                    	<li class="lvl-2"><a href="index-demo10.html" class="site-nav lvl-2">Home 10</a></li>
                                                        <li class="lvl-2"><a href="index-demo11.html" class="site-nav lvl-2">Home 11</a></li>
                                                        <li class="lvl-2"><a href="index-demo12.html" class="site-nav lvl-2">Home 12</a></li>
                                                        <li class="lvl-2"><a href="index-demo13.html" class="site-nav lvl-2">Home 13</a></li>
                                                        <li class="lvl-2"><a href="index-demo14.html" class="site-nav lvl-2">Home 14</a></li>
                                                        <li class="lvl-2"><a href="index-demo15.html" class="site-nav lvl-2">Home 15</a></li>
                                                        <li class="lvl-2"><a href="index-demo16.html" class="site-nav lvl-2">Home 16</a></li>
                                                        <li class="lvl-2"><a href="index-demo17.html" class="site-nav lvl-2">Home 17</a></li>
                                                        <li class="lvl-2"><a href="index-yoga-shop.html" class="site-nav lvl-2">Yoga Shop <span class="lbl nm_label2">New</span></a></li>
                                                    </ul>
                                                </li>
                                                <li class="grid__item lvl-1 col-md-4 col-lg-4">
                                                	<a href="#" class="site-nav lvl-1 menu-title">Homeskin</a>
                                                    <ul class="subLinks">
                                                    	<li class="lvl-2"><a href="index-jewelry-store.html" class="site-nav lvl-2">Jewelry Store <span class="lbl nm_label2">New</span></a></li>
                                                        <li class="lvl-2"><a href="index-pet-store.html" class="site-nav lvl-2">Pet Store <span class="lbl nm_label4">Hot</span></a></li>
                                                    	<li class="lvl-2"><a href="index-medical-demo.html" class="site-nav lvl-2">Medical</a></li>
                                                        <li class="lvl-2"><a href="index-demo18.html" class="site-nav lvl-2">Furniture Store <span class="lbl nm_label4">Hot</span></a></li>
                                                        <li class="lvl-2"><a href="index-christmas-1.html" class="site-nav lvl-2">Christmas 1 <span class="lbl nm_label2">New</span></a></li>
                                                        <li class="lvl-2"><a href="index-christmas-2.html" class="site-nav lvl-2">Christmas 2 <span class="lbl nm_label2">New</span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="grid mm-Banners">
                                                <li class="grid__item large-up--one-half imageCol">
                                                    <a href="#"><img class="lazyload" src="assets/images/megamenu-banner7.jpg" data-src="assets/images/megamenu-banner7.jpg" alt=""></a>
                                                </li>
                                                <li class="grid__item large-up--one-half imageCol">
                                                    <a href="#"><img class="lazyload" src="assets/images/megamenu-banner8.jpg" data-src="assets/images/megamenu-banner8.jpg" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="lvl1 parent megamenu"><a href="#">SHOP <i class="anm anm-angle-down-l"></i></a>
                                <div class="megamenu style4">
                                    <ul class="grid grid--uniform mmWrapper">
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Category Page</a>
                                            <ul class="subLinks">
                                                <li class="lvl-2"><a href="category-2columns.html" class="site-nav lvl-2">2 Columns with style1</a></li>
                                                <li class="lvl-2"><a href="category-3columns.html" class="site-nav lvl-2">3 Columns with style2</a></li>
                                                <li class="lvl-2"><a href="category-4columns.html" class="site-nav lvl-2">4 Columns with style3</a></li>
                                                <li class="lvl-2"><a href="category-5columns.html" class="site-nav lvl-2">5 Columns with style4</a></li>
                                                <li class="lvl-2"><a href="category-6columns.html" class="site-nav lvl-2">6 Columns with Fullwidth</a></li>
                                                <li class="lvl-2"><a href="category-7columns.html" class="site-nav lvl-2">7 Columns</a></li>
                                                <li class="lvl-2"><a href="category-empty.html" class="site-nav lvl-2">Category Empty</a></li>
                                            </ul>
                                        </li>
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Shop Page</a>
                                            <ul class="subLinks">
                                            	<li class="lvl-2"><a href="shop-list-view.html" class="site-nav lvl-2">List View</a></li>
                                                <li class="lvl-2"><a href="shop-category-slideshow.html" class="site-nav lvl-2">Category Slideshow</a></li>
                                                <li class="lvl-2"><a href="shop-left-sidebar.html" class="site-nav lvl-2">Left Sidebar</a></li>
                                                <li class="lvl-2"><a href="shop-right-sidebar.html" class="site-nav lvl-2">Right Sidebar</a></li>
                                                <li class="lvl-2"><a href="shop-fullwidth.html" class="site-nav lvl-2">Fullwidth/No Sidebar</a></li>
                                                <li class="lvl-2"><a href="shop-no-sidebar.html" class="site-nav lvl-2">No Sidebar/No Filter</a></li>
                                                <li class="lvl-2"><a href="shop-category-slideshow.html" class="site-nav lvl-2">With category description</a></li>
                                            </ul>
                                        </li>
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Shop Page</a>
                                            <ul class="subLinks">
                                                <li class="lvl-2"><a href="shop-left-sidebar.html" class="site-nav lvl-2">Simple Heading</a></li>
                                                <li class="lvl-2"><a href="shop-small-heading.html" class="site-nav lvl-2">Small Heading</a></li>
                                                <li class="lvl-2"><a href="shop-no-sidebar.html" class="site-nav lvl-2">Big Heading With Image</a></li>
                                                <li class="lvl-2"><a href="shop-right-sidebar.html" class="site-nav lvl-2">Headings With Banner#1</a></li>
                                                <li class="lvl-2"><a href="shop-heading-with-banner2.html" class="site-nav lvl-2">Headings With Banner#2</a></li>
                                                <li class="lvl-2"><a href="swatches-style.html" class="site-nav lvl-2">Swatches Style</a></li>
                                                <li class="lvl-2"><a href="shop-right-sidebar.html" class="site-nav lvl-2">Classic Pagination</a></li>
                                            </ul>
                                        </li>
                                        <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Shop Other Page</a>
                                            <ul class="subLinks">
                                              <li class="lvl-2"><a href="my-wishlist.html" class="site-nav lvl-2">My Wishlist</a></li>
                                              <li class="lvl-2"><a href="cart-style1.html" class="site-nav lvl-2">Cart Page Style1</a></li>
                                              <li class="lvl-2"><a href="cart-style2.html" class="site-nav lvl-2">Cart Page Style2</a></li>
                                              <li class="lvl-2"><a href="checkout-style1.html" class="site-nav lvl-2">Checkout Page Style1</a></li>
                                              <li class="lvl-2"><a href="checkout-style2.html" class="site-nav lvl-2">Checkout Page Style2</a></li>
                                              <li class="lvl-2"><a href="compare-style1.html" class="site-nav lvl-2">Compare Page Style1</a></li>
                                              <li class="lvl-2"><a href="compare-style2.html" class="site-nav lvl-2">Compare Page Style2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="row clear">
                                    	<div class="col-md-4 col-lg-4">
                                        	<a href="#;"><img src="assets/images/megamenu-banner4.jpg" data-src="assets/images/megamenu-banner4.jpg" alt=""/></a>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                        	<a href="#;"><img src="assets/images/megamenu-banner5.jpg" data-src="assets/images/megamenu-banner5.jpg" alt=""/></a>
                                        </div>
										<div class="col-md-4 col-lg-4">
                                        	<a href="#;"><img src="assets/images/megamenu-banner6.jpg" data-src="assets/images/megamenu-banner6.jpg" alt=""/></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <li class="lvl1 parent megamenu"><a href="#">PRODUCTS <i class="anm anm-angle-down-l"></i></a>
                            <div class="megamenu style2">
                                <ul class="grid mmWrapper">
                                    <li class="grid__item one-whole">
                                        <ul class="grid">
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Product Page</a>
                                                <ul class="subLinks">
                                                    <li class="lvl-2"><a href="product-layout1.html" class="site-nav lvl-2">Product Layout1</a></li>
                                                    <li class="lvl-2"><a href="product-layout2.html" class="site-nav lvl-2">Product Layout2</a></li>
                                                    <li class="lvl-2"><a href="product-layout3.html" class="site-nav lvl-2">Product Layout3</a></li>
                                                    <li class="lvl-2"><a href="product-layout4.html" class="site-nav lvl-2">Product Layout4</a></li>
                                                    <li class="lvl-2"><a href="product-layout5.html" class="site-nav lvl-2">Product Layout5</a></li>
                                                    <li class="lvl-2"><a href="product-layout6.html" class="site-nav lvl-2">Product Layout6</a></li>
                                                    <li class="lvl-2"><a href="product-layout7.html" class="site-nav lvl-2">Product Layout7</a></li>
                                                    <li class="lvl-2"><a href="product-accordian.html" class="site-nav lvl-2">Product Accordian</a></li>
                                                    <li class="lvl-2"><a href="product-tabs-left.html" class="site-nav lvl-2">Product Tabs Left</a></li>
                                                    <li class="lvl-2"><a href="product-tabs-center.html" class="site-nav lvl-2">Product Tabs Center</a></li>
                                                </ul>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Product Page Types</a>
                                                <ul class="subLinks">
                                                  	<li class="lvl-2"><a href="product-standard.html" class="site-nav lvl-2">Standard Product</a></li>
                                                    <li class="lvl-2"><a href="product-variable.html" class="site-nav lvl-2">Variable Product</a></li>
                                                    <li class="lvl-2"><a href="product-grouped.html" class="site-nav lvl-2">Grouped Product</a></li>
                                                    <li class="lvl-2"><a href="product-layout1.html" class="site-nav lvl-2">New Product</a></li>
                                                    <li class="lvl-2"><a href="product-layout2.html" class="site-nav lvl-2">Sale Product</a></li>
                                                    <li class="lvl-2"><a href="product-outofstock.html" class="site-nav lvl-2">Out Of Stock Product</a></li>
                                                    <li class="lvl-2"><a href="product-external-affiliate.html" class="site-nav lvl-2">External / Affiliate Product</a></li>
                                                    <li class="lvl-2"><a href="product-layout1.html" class="site-nav lvl-2">Variable Image</a></li>
                                                    <li class="lvl-2"><a href="product-layout4.html" class="site-nav lvl-2">Variable Select</a></li>
                                                    <li class="lvl-2"><a href="prodcut-360-degree-view.html" class="site-nav lvl-2">360 Degree view</a></li>
                                                </ul>
                                              </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3"><a href="#" class="site-nav lvl-1 menu-title">Top Brands</a>
                                            	<div class="menu-brand-logo">
                                                    <a href="#;"><img src="assets/images/logo/brandlogo1.png" alt=""/></a>
                                                    <a href="#;"><img src="assets/images/logo/brandlogo2.png" alt=""/></a>
                                                    <a href="#;"><img src="assets/images/logo/brandlogo3.png" alt=""/></a>
                                                </div>
                                                <div class="menu-brand-logo">
                                                    <a href="#;"><img src="assets/images/logo/brandlogo4.png" alt=""/></a>
                                                    <a href="#;"><img src="assets/images/logo/brandlogo5.png" alt=""/></a>
                                                    <a href="#;"><img src="assets/images/logo/brandlogo6.png" alt=""/></a>
                                                </div>
                                            </li>
                                            <li class="grid__item lvl-1 col-md-3 col-lg-3 p-0">
                                            	<a href="#"><img src="assets/images/megamenu-banner3.jpg" alt=""/></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="lvl1 parent dropdown"><a href="#">ABOUT US <i class="anm anm-angle-down-l"></i></a>
                        	<ul class="dropdown">
                            	<li><a href="lookbook-2columns.html" class="site-nav">2 Columns</a></li>
                                <li><a href="lookbook-3columns.html" class="site-nav">3 Columns</a></li>
                                <li><a href="lookbook-4columns.html" class="site-nav">4 Columns</a></li>
                                <li><a href="lookbook-5columns.html" class="site-nav">5 Columns + Fullwidth</a></li>
                                <li><a href="lookbook-shop.html" class="site-nav">Lookbook Shop</a></li>
                            </ul>
                        </li>
                        <li class="lvl1 parent dropdown"><a href="#">BRANDS<i class="anm anm-angle-down-l"></i></a>
                          <ul class="dropdown">
                          	<li><a href="brands-page.html" class="site-nav">Brands Page</a></li>
<li><a href="userLogin.html" class="site-nav">Login</a></li>
                            <li><a href="my-account.html" class="site-nav">My Account</a></li>
                            <li><a href="aboutus-style1.html" class="site-nav">About Us <i class="anm anm-angle-right-l"></i></a>
                            	<ul class="dropdown">
                                    <li><a href="aboutus-style1.html" class="site-nav">About Us Style1</a></li>
                                    <li><a href="aboutus-style2.html" class="site-nav">About Us Style2</a></li>
                                </ul>
                            </li>
                            <li><a href="contact-style1.html" class="site-nav">CONTACT US <i class="anm anm-angle-right-l"></i></a>
                            	<ul class="dropdown">
                                    <li><a href="contact-style1.html" class="site-nav">Contact Us Style1</a></li>
                                    <li><a href="contact-style2.html" class="site-nav">Contact Us Style2</a></li>
                                </ul>
                            </li>
                            <li><a href="faqs-style1.html" class="site-nav">FAQs <i class="anm anm-angle-right-l"></i></a>
                            	<ul class="dropdown">
                                    <li><a href="faqs-style1.html" class="site-nav">FAQs Style1</a></li>
                                    <li><a href="faqs-style2.html" class="site-nav">FAQs Style2</a></li>
                                </ul>
                            </li>
                            <li><a href="cms.html" class="site-nav">CMS</a></li>
                            <li><a href="error-404.html" class="site-nav">Error 404</a></li>
                            <li><a href="coming-soon.html" class="site-nav">Coming soon <span class="lbl nm_label1">New</span> </a></li>
                          </ul>
                        </li>
                        <li class="lvl1 parent dropdown"><a href="#">Blog <i class="anm anm-angle-down-l"></i></a>
                          <ul class="dropdown">
                            <li><a href="blog-left-sidebar.html" class="site-nav">Left Sidebar</a></li>
                            <li><a href="blog-right-sidebar.html" class="site-nav">Right Sidebar</a></li>
                            <li><a href="blog-fullwidth.html" class="site-nav">Fullwidth</a></li>
                            <li><a href="blog-2columns.html" class="site-nav">2 Columns</a></li>
                            <li><a href="blog-3columns.html" class="site-nav">3 Columns</a></li>
                            <li><a href="blog-4columns.html" class="site-nav">4 Columns</a></li>
                            <li><a href="blog-single-post.html" class="site-nav">Single Post</a></li>
                          </ul>
                        </li>

                      </ul>
                    </nav>
                    <!--End Desktop Menu-->
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-2 align-self-center icons-col text-right">
                	<!--Search-->
                    <div class="site-search iconset">
                        <i class="icon anm anm-search-l"></i>
                    </div>
                    <div class="search-drawer">
                    	<div class="container">
                            <span class="closeSearch anm anm-times-l"></span>
                            <h3 class="title">What are you looking for?</h3>
                            <div class="block block-search">
                                <div class="block block-content">
                                    <form class="form minisearch" id="header-search" action="#" method="get">
                                        <label for="search" class="label"><span>Search</span></label>
                                        <div class="control">
                                            <div class="searchField">
												<div class="search-category">
												<select id="rgsearch-category">
													<option value="0">All Categories</option>
													<option value="4">Shop</option>
													<option value="6">- All</option>
													<option value="8">- Men</option>
													<option value="10">- Women</option>
													<option value="12">- Shoes</option>
													<option value="14">- Blouses</option>
													<option value="16">- Pullovers</option>
													<option value="18">- Bags</option>
													<option value="20">- Accessories</option>
												</select>
											</div>
                                                <div class="input-box">
                                                    <input id="search" type="text" name="q" value="" placeholder="Search for products, brands..." class="input-text">
                                                    <button type="submit" title="Search" class="action search" disabled=""><i class="icon anm anm-search-l"></i></button>
                                                </div>
                                            </div>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Search-->
                    <!--Setting Dropdown-->
                    <div class="setting-link iconset">
                    	<i class="icon icon-settings"></i>
                    </div>
                    <div id="settingsBox">
                    	<div class="customer-links">
                        	<p><a href="userLogin.html" class="btn">Login</a></p>
                            <p class="text-center">New User? <a href="register.html" class="register">Create an Account</a></p>
                            <p class="text-center">Default welcome msg!</p>
                        </div>
                        <div class="currency-picker">
                        	<span class="ttl">Select Currency</span>
                            <ul id="currencies" class="cnrLangList">
                            <li class="selected"><a href="#;">INR</a></li><li><a href="#;">GBP</a></li><li><a href="#;">CAD</a></li><li><a href="#;">USD</a></li><li><a href="#;">AUD</a></li><li><a href="#;">EUR</a></li><li><a href="#;">JPY</a></li></ul>
                        </div>
                        <div class="language-picker">
                        	<span class="ttl">SELECT LANGUAGE</span>
                            <ul id="language" class="cnrLangList">
                                <li><a href="#">English</a></li><li><a href="#">French</a></li><li><a>German</a></li>
                            </ul>
                        </div>
                   	</div>
                    <!--End Setting Dropdown-->
                    <!--Wishlist-->
                    <div class="wishlist-link iconset">
                        <i class="icon anm anm-heart-l"></i>
                        <span class="wishlist-count">0</span>
                    </div>
                    <!--End Wishlist-->
                    <!--Minicart Dropdown-->
                    <div class="header-cart iconset">
                        <a href="#" class="site-header__cart btn-minicart" data-toggle="modal" data-target="#minicart-drawer">
                            <i class="icon anm anm-bag-l"></i>
                            <span class="site-cart-count">2</span>
                        </a>
                    </div>
                    <!--End Minicart Dropdown-->
                </div>
            </div>
        </div>
    </header>