<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../static/userResources/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../static/userResources/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/userResources/image/favicon-16x16.png">
    <link rel="manifest" href="../../static/userResources/image/site.webmanifest">
    <link rel="mask-icon" href="../../static/userResources/image/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="../../static/userResources/image/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="../../static/userResources/image/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../../static/userResources/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../../static/userResources/css/style.css">

    <script type="text/javascript">
        function city_ajax() {

            var ajax = new XMLHttpRequest();
            var option = document.createElement("option");
            var state_id = document.getElementById("stateId");
            var city_id = document.getElementById("cityId");

            $('#cityId').empty();
            option.value = null;
            option.text = "Select city";
            option.disabled = true;
            option.selected = true;
            city_id.options.add(option);

            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    var json = JSON.parse(ajax.responseText);
                    for (var i = 0; i < json.length; i++) {
                        option = document.createElement("option");

                        option.value = json[i].city_id;
                        option.text = json[i].city_name;

                        city_id.options.add(option);
                    }
                }
            }
            ajax.open("get", "/ajax_area_city?stateId=" + state_id.value, true);
            ajax.send();
        }
    </script>
</head>

<body>
<div class="page-wrapper">

    <main class="main">

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
             style="background-image: url('../../static/userResources/image/login-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab"
                                   aria-controls="signin-2" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " id="register-tab-2" data-toggle="tab" href="#register-2"
                                   role="tab" aria-controls="register-2" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
                                <form action="/admin/validate_login" method="post">
                                    <div class="form-group">
                                        <label for="singin-email-2">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email-2" name="loginUsername"
                                               required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password-2">Password *</label>
                                        <input type="password" class="form-control" id="singin-password-2"
                                               name="loginPassword" required>
                                    </div><!-- End .form-group -->
                                    {% with message = get_flashed_messages() %}
                                        {% if message %}
                                            <div class="form-group"><p
                                                    style="color: red; font-size: 12px">{{ message[0]}}</p></div>
                                        {% endif %}
                                    {% endwith %}
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>


                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->

                                </form>
                                <!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade " id="register-2" role="tabpanel"
                                 aria-labelledby="register-tab-2">
                                <form action="/user_register" method="post">
                                    <div class="form-group">
                                        <label for="register-email-2">First Name</label>
                                        <input type="text" class="form-control" name="firstName" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">Last Name</label>
                                        <input type="text" class="form-control" name="lastName" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">Gender:</label>
                                        <input type="radio" name="gender" style="margin-left: 10px"
                                               value="male"><label style="margin-left: 3px">Male</label>
                                        <input type="radio"  name="gender" style="margin-left: 10px" value="female"><label style="margin-left: 3px">Female</label>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">Address</label>
                                        <textarea class="form-control" name="address" required></textarea>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">Pincode</label>
                                        <input type="text" class="form-control" name="pincode" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">State</label>
                                        <select class="form-control" name="stateId" id="stateId" onchange="city_ajax()" required >
                                            <option value disabled selected>State Name</option>
                                            {% for state in state_vo_list %}
                                                <option value="{{ state.state_id }}">{{ state.state_name }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="register-email-2">City</label>
                                        <select class="form-control" id="cityId" name="cityId" required>
                                            <option value disabled selected>City Name</option>
                                        </select>
                                    </div><!-- End .form-group -->

                                    <!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-email-2">Your email address </label>
                                        <input type="email" class="form-control" id="register-email-2"
                                               name="userEmail" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>


                                    </div><!-- End .form-footer -->
                                </form>
                                <!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->

</div><!-- End .page-wrapper -->

<!-- Plugins JS File -->
<script src="../../static/userResources/js/jquery.min.js"></script>
<script src="../../static/userResources/js/bootstrap.bundle.min.js"></script>
<script src="../../static/userResources/js/jquery.hoverIntent.min.js"></script>
<script src="../../static/userResources/js/jquery.waypoints.min.js"></script>
<script src="../../static/userResources/js/superfish.min.js"></script>
<script src="../../static/userResources/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="../../static/userResources/js/main.js"></script>
</body>

</html>