<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Add product</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/adminResources/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/adminResources/image/logo3.png'/>
    <script type="text/javascript">
        function category_ajax() {

            var ajax = new XMLHttpRequest();
            var option = document.createElement("option");
            var product_category_id = document.getElementById("productCategoryId");
            var product_subcategory_id = document.getElementById("productSubcategoryId");

            $('#productSubcategoryId').empty();
            option.value = null;
            option.text = "Select Subcategory";
            option.disabled = true;
            option.selected = true;
            product_subcategory_id.options.add(option);

            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4) {
                    var json = JSON.parse(ajax.responseText);
                    for (var i = 0; i < json.length; i++) {
                        option = document.createElement("option");

                        option.value = json[i].subcategory_id;
                        option.text = json[i].subcategory_name;

                        product_subcategory_id.options.add(option);
                    }
                }
            }
            ajax.open("get", "/admin/ajax_subcategory_product?productCategoryId=" + product_category_id.value, true);
            ajax.send();
        }
    </script>
</head>

<body onload="category_ajax()">
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        {% include 'admin/header.html' %}
        {% include 'admin/menu.html' %}
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <form action="/admin/insert_product" method="post" enctype="multipart/form-data">
                                    <div class="card-header">
                                        <h4>Add Product</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <select class="form-control" id="productCategoryId" name="productCategoryId"
                                                    onchange="category_ajax()" required>
                                                <option value disabled selected>Category Name</option>
                                                {% for category in category_vo_list %}
                                                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" id="productSubcategoryId"
                                                    name="productSubcategoryId" required>
                                                <option value disabled selected>Subcategory Name</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" name="productName" class="form-control" required="">
                                        </div>

                                        <div class="form-group mb-0">
                                            <label>Product Description</label>
                                            <textarea name="productDescription" class="form-control"
                                                      required=""></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>Product Price</label>
                                            <input type="number" name="productPrice" class="form-control" required="">
                                        </div>
                                        <div class="form-group">
                                                    <label for="image-upload" id="image-label">Choose Image: </label>
                                                    <input type="file" name="productImage" id="image-upload" accept="image/jpg, image/png, image/jpeg">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'admin/footer.html' %}
    </div>
</div>
<!-- General JS Scripts -->
<script src="../../static/adminResources/js/app.min.js"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script src="../../static/adminResources/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="../../static/adminResources/js/custom.js"></script>
<script>
    $(document).ready(function () {
        iziToast.error({
            title: 'Hello, world!',
            message: 'This awesome plugin is made by iziToast',
            position: 'topRight'
        });
    });
</script>
</body>

</html>