<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Add Subcategory</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/adminResources/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/style.css">
    <link rel="stylesheet" href="../../static/adminResources/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/adminResources/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/adminResources/image/logo3.png'/>
</head>

<body>
<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        {% include 'admin/header.html' %}
        {% include 'admin/menu.html' %}
        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <form action="/admin/insert_subcategory" method="post">
                                    <div class="card-header">
                                        <h4>Add Subcategory</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <select class="form-control" name="categoryId" required>
                                                <option value disabled selected>Category Name</option>
                                                {% for category in category_vo_list %}
                                                    <option value="{{ category.category_id }}">{{ category.category_name }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Subcategory Name</label>
                                            <input type="text" name="subcategoryName" class="form-control" required="">
                                        </div>
                                        <div class="form-group mb-0">
                                            <label>Subcategory Description</label>
                                            <textarea name="subcategoryDescription" class="form-control"
                                                      required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        {% include 'admin/footer.html' %}
    </div>
</div>
<!-- General JS Scripts -->
<script src="../../static/adminResources/js/app.min.js"></script>
<!-- JS Libraies -->
<!-- Page Specific JS File -->
<!-- Template JS File -->
<script src="../../static/adminResources/js/scripts.js"></script>
<!-- Custom JS File -->
<script src="../../static/adminResources/js/custom.js"></script>
<script>
    $(document).ready(function () {
        iziToast.error({
            title: 'Hello, world!',
            message: 'This awesome plugin is made by iziToast',
            position: 'topRight'
        });
    });
</script>
</body>

</html>