<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="{{ url_for('admin_load_dashboard') }}"> <img alt="image" src="../../static/adminResources/image/logo3.png"
                              class="header-logo"/> <span
                    class="logo-name">STYLE LOFT</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
                <a href="{{ url_for('admin_load_dashboard') }}" class="nav-link"><i data-feather="home"></i><span>Home</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="database"></i><span>Category</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_category">Add Category</a></li>
                    <li><a class="nav-link" href="/admin/view_category">View Category</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="database"></i><span>SubCategory</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_subcategory">Add SubCategory</a></li>
                    <li><a class="nav-link" href="/admin/view_subcategory">View SubCategory</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="globe"></i><span>State</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_state">Add State</a></li>
                    <li><a class="nav-link" href="/admin/view_state">View State</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="map"></i><span>City</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_city">Add City</a></li>
                    <li><a class="nav-link" href="/admin/view_city">View City</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="compass"></i><span>Area</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_area">Add Area</a></li>
                    <li><a class="nav-link" href="/admin/view_area">View Area</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i
                        data-feather="shopping-cart"></i><span>Products</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/load_product">Add product</a></li>
                    <li><a class="nav-link" href="/admin/view_product">View Product</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="/admin/view_complain" class="nav-link"><i
                        data-feather="message-circle"></i><span>Manage Complaints</span></a>

            </li>
            <li class="dropdown">
                <a href="/admin/view_feedbacks" class="nav-link"><i
                        data-feather="thumbs-up"></i><span>Manage Feedbacks</span></a>

            </li>
            <li class="dropdown">
                <a href="/admin/logout_session" class="nav-link"><i data-feather="log-out"></i><span>Logout</span></a>
            </li>
        </ul>
    </aside>
</div>
